<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Edukat - Education and LMS Template">

    <!-- ========== Page Title ========== -->
    <title>Calificaciones del periodo</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="assets/img/logocaedslider01.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/elegant-icons.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Start Header Top 
    ============================================= -->
    <div class="top-bar-area bg-dark text-light inline inc-border">
        <div class="container">
            <div class="row align-center">
                
                <div class="col-lg-7 col-md-12 left-info">
                    <div class="item-flex">
                        <ul class="list">
                            <li>
                                <i class="fas fa-phone"></i> ¿Tienes alguna pregunta? +123 456 7890
                            </li>
                           
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 right-info">
                    <div class="item-flex">
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="Google.com"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Header Top -->

    <!-- Header 
    ============================================= -->


    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky dark bootsnav">

            <div class="container">

               
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logocaedslider01.png" class="logo" alt="Logo">
                        Colegio Alberto González Valle
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="index.html"   >Tareas</a>
                            
                        </li>
                        <li class="dropdown">
                            <a href="Calificaciones.html"   >Calificaciones</a>
                            
                        </li>
                        <li class="dropdown">
                            <a href="#"  >Cerrar sesión</a>
                            
                        </li>
                        
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->



    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area bg-gray text-center shadow dark text-light bg-cover" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Calificaciones 1er grado</h1>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Course Details 
    ============================================= -->
    <div class="course-details-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 info">

                    

                    <div class="main-content">
                        <div class="course-includes">
                            <h4>Matemáticas</h4>
                                <ul>
                                    <li>
                                        <i class="fas fa-check"></i>Primer periodo<span class="float-right">6.1</span> 
                                    </li>
                                    <li>
                                        <i class="fas fa-check"></i>Segundo periodo<span class="float-right">8.8</span>

                                    </li>
                                    <li>
                                        <i class="fas fa-check"></i>Tercer periodo<span class="float-right">9.9</span> 
                                    </li>
                                    <li>
                                        <i class="fas fa-check"></i>Cuarto periodo<span class="float-right">7.8</span> 
                                    </li>
                                    <li>
                                        <i class="fas fa-check"></i>Quinto periodo<span class="float-right">8.6</span> 
                                    </li>
                                </ul>
                            </div>
                    </div>

                </div>
                <div class="col-lg-4 sidebar">
                    <!-- Single Item -->
                    <div class="item course-preview">
                        
                        <div class="content">
                            <div class="top">
                                <div class="pricce">
                                    <h2>Promedio final</h2>
                                </div>
                                <div class="rating">
                                    
                                    9.8 
                                </div>
                            </div>
                            <div class="course-includes">
                                <ul>
                                    <li>
                                        <i class="fas fa-copy"></i>Español <span class="float-right">8.9</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-copy"></i>Matemáticas <span class="float-right">7.7</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-copy"></i>Computación <span class="float-right">8.7</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-copy"></i>E.F <span class="float-right">6.7</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-copy"></i>F.C.E <span class="float-right">10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Item -->

                    

                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Course Details -->

    <!-- Star Footer
    ============================================= -->
    <footer class="bg-dark text-light">
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2022. Todos los derechos reservados</p>
                    </div>
                    <div class="col-lg-6 text-right link">
                        <ul>
                            <li>
                                <a href="#">Terminos y condiciones</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer-->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/modernizr.custom.13711.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/progress-bar.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/count-to.js"></script>
    <script src="assets/js/YTPlayer.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/loopcounter.js"></script>
    <script src="assets/js/bootsnav.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>